.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 180px auto;
  text-align: center;
}

.links {
  display: flex;
  justify-content: center;
}

.link {
  text-decoration: none;
  color: rgba(76, 76, 255, 1);
}

.error {
  color: var(--colors-interface-error);
}