.page {
  display: flex;
  width: 100%;
  margin: 120px auto;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 80px;
  min-width: 320px;
}

.link {
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  text-decoration: none;
  white-space: nowrap;
}

.link.active {
  color: #fff;
}

.content {
  width: 100%;
}

.form_btns {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
